* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainviewSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.playerboard,
.gameboard {
  max-width: 550px;
  max-height: 550px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
}

.boardItem {
  height: 50px;
  width: 50px;
  background-color: blue;
}

.boardItem:hover,
.containsShip {
  background-color: cyan;
}
